.customTitleInput {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.aBitMargin {
  margin-right: 10px;
}

.title-wrapper {
  display: -webkit-inline-box;
}

.mainButton {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  margin: 0 .25em 0 0;
  padding: .0em 1em .78571429em;
  border-radius: .28571429rem;
  vertical-align: bottom;
  max-height: 32px;
}

.mainButton:hover {
  background-color: #cacbcd;
}

.edit {
  padding: .78571429em;
}

.save {
  margin-left: -.1em;
  border-radius: unset;
  position: relative;
}

.cancel {
  margin-left: -0.25em;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.displayText {
  position: relative;
    margin-right: 1em;
    font-family: sans-serif;
    bottom: .1em;
    cursor: pointer;
}

.mainButton.save:disabled {
  background: #a4a5a7;
  cursor: not-allowed;
  color: #ededed;
  transition: all .3s;
}

.bendRightSide {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.showControl {
  visibility: visible;
}

.hideControl {
  visibility: hidden;
}

.seamlessInput {
  outline: none;
  border: 0;
  width: inherit;
}

.editable-title-popover {
  position: absolute;
  margin-top: -0.15em;
}

.popover.editable-title > span {
  font-size: 12px;
  color: red;
}