.customTitleInput {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  
}

.aBitMargin {
  margin-right: 10px;
}

.title-wrapper {
  display: -webkit-inline-box;
}

.title-wrapper > .ui.mini.button {
  line-height: 0.4em!important;
}

.title-wrapper > .ui.buttons > .ui.mini.button {
  line-height: 0.4em!important;
  font-size: .78571429rem;
}

.mainButton {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .0em 1em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  -webkit-tap-highlight-color: transparent;
  font-size: .78571429rem;
  vertical-align: bottom;
}

.mainButton:hover {
  background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}

.gg-check {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  top: .4em;
}

.gg-check::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
  top: .4em;
}

.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

.gg-close::after {
  transform: rotate(-45deg)
}

.gg-pen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,.8));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: -2px;
  top: -.4em;
}

.gg-pen::after,
.gg-pen::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0
}

.gg-pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -11px;
  top: -2px
}

.edit {
  padding: 1.48571429em 1.3em .78571429em;
}

.save {
  margin-left: -.1em;
  border-radius: unset;
  position: relative;
}

.cancel {
  margin-left: -0.25em;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.displayText {
  position: relative;
    margin-right: 1em;
    /* vertical-align: super; */
    font-family: sans-serif;
    /* font-size: 14px; */
    /* margin-left: .9em; */
    bottom: .1em;
    cursor: pointer;
}

.mainButton.save:disabled {
  background: #a4a5a7;
  cursor: not-allowed;
  color: #ededed;
  transition: all .3s;
}

.bendRightSide {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.showControl {
  visibility: visible;
}

.hideControl {
  visibility: hidden;
}

.seamlessInput {
  outline: none;
  border: 0;
  width: inherit;
}

.popover.editable-title {
  position: absolute;
  margin-top: 0em;
}

.popover.editable-title > span {
  font-size: 12px;
  color: red;
}